.mainContainer {
  background-image: url('../../../assets/banners/footer-img2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 2rem 1rem;
  margin-top: 2rem;

  .link {
    display: inline-block;
    text-decoration: none;
    color: #fff;

    .logoContainer {
      width: 6rem;
    }
  }

  .socialContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (width >= 768px) {
  .mainContainer {
    height: 25vh;
    padding: 2rem;
    justify-content: space-around;

    .link {
      .logoContainer {
        width: 10rem;
      }
    }

    .socialContainer {
      display: flex;
      flex-direction: column;
    }
  }
}
