.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

@media (width >= 768px) {
  .container {
    height: 80vh;
  }
}
