.container {
  margin-bottom: 2rem;
}

.colorOne {
  background-color: #f48536;
  width: 100%;
  height: 7px;
}

.colorTwo {
  background-color: #fcecd4;
  width: 100%;
  height: 7px;
}

.colorThree {
  background-color: #94cccc;
  width: 100%;
  height: 7px;
}
