.container {
  margin-bottom: 2rem;
}
.colorOne,
.colorTwo,
.colorThree {
  width: 100%;
  height: 7px;
}

.colorOne {
  background-color: #f48536;
}

.colorTwo {
  background-color: #fcecd4;
}

.colorThree {
  background-color: #94cccc;
}

@media (width >= 768px) {
  .container {
    margin-bottom: 4rem;
  }

  .colorOne,
  .colorTwo,
  .colorThree {
    width: 100%;
    height: 10px;
  }
}
