.options {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  .link {
    text-decoration: none;
    color: #000;
  }
  .items {
    margin-bottom: 0.7rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
  }
}
