.container {
  height: 100%;
}
.mainContainer {
  width: 250px;
  height: 8rem;
  margin: 0 auto;
}

/* Slider */

.sliderContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.sliderTitle {
  font-family: reenie beanie;
  font-size: 1.1rem;
  text-align: center;
}

.sliderTitle h2 {
  margin: 0;
  margin-bottom: 1rem;
}

/* Imgs */

.containerImgs img {
  width: 50%;
}

.containerImgs p {
  font-size: 1rem;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.slideImgActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slideImgInactive {
  display: none;
}

/* Arrows */

.leftArrow,
.rigthArrow {
  font-size: 3rem;
  cursor: pointer;
}

/* Dots */

.dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  cursor: pointer;
}

.dotsContainerItem {
  margin-right: 0.5rem;
}

div.active {
  color: #bfbaba;
}

@media (min-width: 768px) {
  .mainContainer {
    width: 750px;
    height: 13rem;
    margin: 0 auto;
  }

  .sliderTitle {
    font-size: 2rem;
  }

  .leftArrow,
  .rigthArrow {
    font-size: 4rem;
  }

  .dotsContainer {
    font-size: 1.5rem;
  }

  .slideImgContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .slideImgActive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slideImgActive img {
    width: 80%;
  }

  .slideImgInactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    filter: grayscale(100%);
  }
}
